#!/bin/sh

# See chezmoi FAQ - Encryption section for more details

#Include common bash functions and helpers

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

ch_cfg_dir='{{ .chezmoi_config_dir }}'

age_recipient='{{ .crypt.age.age_recipient }}'
ekey_id='{{ .crypt.ejson.key_id }}'

keys_dir='{{ .crypt.keys_dir }}'

age_key_file='{{ .crypt.age.age_key_file }}'
ekey_file="${keys_dir}/${ekey_id}"

ch_tmp_cfg="${ch_cfg_dir}/tmp_cfg.toml"

log_task "Processing locks"
if [ ! -f "${age_key_file}" ]; then
    log_task "Processing AGE"
    mkdir -p "${keys_dir}" && chmod 700 "${keys_dir}"
    chezmoi age decrypt --output "${age_key_file}" --passphrase "{{ .chezmoi.sourceDir }}/zamecek"
    chmod 600 "${age_key_file}"
fi

if [ ! -f "${ekey_file}" ]; then
    log_task "Processing EJSON"
    echo 'encryption = "age"
[age]
    identity = "${age_key_file}"
    recipient = "${age_recipient}"
' > "${ch_tmp_cfg}"
    
    mkdir -p "${ekeys_dir}"
    chezmoi -c  "${ch_tmp_cfg}" decrypt --output "${ekey_file}" "{{ .chezmoi.sourceDir }}/ezamecek"
    rm -f "${ch_tmp_cfg}"
    chmod 600 "${ekey_file}"
fi
