#!/bin/bash

#Include common bash functions and helpers

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

missing_packages=()

{{- if eq .chezmoi.osRelease.id "fedora" -}}
{{- range .packages.dnf.common }}
package={{ . | quote }}
if ! is_dnf_package_installed "${package}"; then
    missing_packages+=("${package}")
fi
{{- end }}
echo "${missing_packages[@]}"
{{- end }}

