#!/usr/bin/env bash

#Include common bash functions and helpers

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

# Checks if current user is not member of the group

function not_in_group() {
    
    local group_name=$1

    if ! getent group "${group_name}" | grep -qw "${USER}"; then
        return 0
    else
        return 1
    fi
}
# Add user to group, but provide add only if is not member of
# the group yet, to avoid sudo requirement for this

function add_to_group() {
    
    local group_name=$1

    if getent group ${group_name} > /dev/null 2>&1; then
        if not_in_group "${group_name}"; then
            log_info "Adding user to group ${group_name}"
            sudo usermod -a -G "${group_name}" "${USER}" > /dev/null 2>&1
        fi
    else
        log_error "The Group ${group_name} doesn't exist on the computer"
    fi
}

log_task "Processing groups membership for user ${USER}"
add_to_group wheel
{{- if eq .deployment.vm_type "virtualbox" }}
add_to_group vboxsf
{{- end }}
{{- if eq .deployment.type "workstation" }}
# we can use serial console without sudo -> to connect to RPI/NXP boards
add_to_group dialout
{{- end }}

# switch repo access from https to ssh 
# If any modifications will be provided, ssh is required for push
# 
# CHEZMOI_SOURCE_DIR is git repository for this instance
#
git_repo_url=$(git --git-dir="${CHEZMOI_SOURCE_DIR}/.git" remote get-url origin)
if ! echo "${git_repo_url}" | grep -q "^git"; then
    log_task "Changing chezmoi source remote repo access from https to ssh"
    new_repo_url=$(echo "${git_repo_url}" | grep -oP 'https://\K\S+')
    new_repo_url="git@${new_repo_url}"
    git remote set-url origin "${new_repo_url}" || error "Change remote repo url from https to ssh failed!"
fi

#make chezmoi config readable only by user
chmod 0600 "${HOME}/.config/chezmoi/chezmoi.yaml"